body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.col {
  float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*stylowanie górnej nawigacji*/
.topnav {
    background-color: #27406d;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #0b2f4b;
    color: white;
}
.active {
    background-color: #2d6291;
    color: white;
}
.topnav .icon {
    display: none;
}
/*koniec stylowania górnej nawigacji*/
#welcome {
  height: 70vh;
  background-image: url('img/yacht.jpg');
  background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 60%;
position: relative;
}
#logo {
  display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
position: absolute;
left: 40%;
transition: transform 2s;
}
#logo:hover {
	transform: rotate(360deg);
}

.clear{
  clear: both;
}

#szkolenie {

}
#czarter {
}
#czarter h3 {
  margin-top: 0;
  padding: 0;
  line-height: 0px;
}
#czarter h2 {
  margin-top: 0;
  padding: 0;
    line-height: 30px;
}
.rejsy {
  background-color: #7ca3c1;
  text-align: justify;
}
.rejsy h3 {
  color: white;
}
/* #rejsy h2 {
  color: white;
} */
.content_img {
  width: 100%;
  /* height: auto; */

}
.content_text {
 font-family: 'Lato';
font-size: 18px;
color: rgba(37,37,37,1);
padding: 15px;
text-align: justify;
margin-top: 5%;
}



h3 {
text-transform: uppercase;
font-family: 'Nunito Sans', sans-serif;
font-size: 50px;
letter-spacing: 2px;
color: rgba(37,37,37,1);
text-align: center;
font-weight: 300;
}
h1 {
font-family: 'Nunito Sans', sans-serif;
font-size: 28px;
color: #23a5ca;
font-weight: 300;
padding-left: 15%;
}
h2 {
  font-family: 'Playfair Display SC', serif;
  letter-spacing: -0.3px;
  color: rgba(37,37,37,1);
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
}

footer {
  background-color: #27406d;
  color: #fff;
  font-family: 'Lato', sans-serif;
  padding: 3%;
  line-height: 1.6;
}
footer a {
color:  rgba(255,255,255,1);
text-decoration: none;
}
footer a:hover {
 color: black;
 text-decoration: underline;
}
.fab{
color: white;
padding: 0 5px;
}

.social_media_nav {
  float: right;
}

.fas {
  color: #27406d;
}

#copyright {
  background-color: #1e3154;
  font-size: 16px;
  color: rgba(255,255,255,0.6);
padding: 10px;
padding-left: 10%;
text-align: center;
}

/*media do górnej nawigacji*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }


  #logo {
   left: 20%;
  }
  #welcome {
    height: 60vh;
    max-width: 100%;
  background-position: 30% ;
  padding-right: 10%;
  padding-top: 15%;
  }
  #welcome img {
    text-align: right;
   }


  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
#szkolenie h3 {
  font-size: 20px;
}
#szkolenie h1 {
  font-size: 20px;
  text-align: center;
  padding: 0;
}

h3 {
  font-size:20px;
}
.col {
  float: none;
  width: 100%;
  max-width: 100%;

}

#szkolenie_text {
  padding: 0 10px;
  text-align: justify;
}

.content_text {
  padding-top: 0;
}

.content_text h2 {
  margin-bottom: 15px;

}

.content_text h3 {
  padding: 15px;
  padding-bottom: 0;
}

#rejsy-flex {
  display: flex; flex-direction: column;
}

#rejsy_text {
  order: 2;
}

#rejsy_img {
  order: 1;
}

.szkolenie_col:nth-child(even) {
  background: #d7e3ec;
}

.social_media_nav {
  float: left;
}

.topnav.responsive a {
  /* text-align: center !important; */
}








}
